{# {% include '@gavias_financial/cool/atoms.html.twig' with {'foo' : 'cool'} %} #}
<style>
    div.hello{
        color: lime;
    }
</style>
<h1>{{ foo }}</h1>
<div class="hello">
    <p>CRYPTOS</p>
</div>
{{ foo }}
<script>
    console.log('{{ foo }}');
</script>