/******************************************* /** Screen Sizes  /*******************************************************/
@media (max-width: 281px) {
    .box .owl-grid_caro_all {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    .box .grid-cols-3 {
        padding: 5px !important;
        width: 100% !important;
    }
    .box .special_class_types, .box .alpha_class_types, .box .beta_class_types, .box .charlie_class_types, .box .delta_class_types {
        padding: 5px !important;
        width: 100% !important;
    }
    /***************************| width + padding  |*************************/
    .box__head_image {
        height: 300px !important;
    }
    .box__head_image > iframe {
        min-height: 0 !important;
        max-height: 300px !important;
    }
    .box__head_image img {
        min-height: 300px !important;
    }
    .box-icons a {
        font-size: 12px !important;
    }
    .box__punchline {
        height: 35px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 1.5em;
    }
    .box__body_bottom {
        height: 37px !important;
        overflow: hidden;
    }
    .box__title {
        font-size: 14px !important;
        height: 35px;
        overflow: hidden;
    }
    li.box__footer_link a{
        font-size: 13px;
    }
    .box__read_more {
        font-size: 13px;
    }
    .box__special {
        height: 35px;
        overflow: hidden;
    }
    .box__special .jquery-countdown-timer-countdowntimer {
        padding-top: 5px;
    }
    .box__special .jquery-countdown-timer-countdowntimer.countdownHolder {
        font-size: 18px !important;
    }
    .box__special .jquery-countdown-timer-note-countdowntimer {
        font-size: 14px !important;
        margin-top: -10px !important;
    }
}
/***************************| 282 - 500 |*************************/
@media (min-width: 282px) {
    .box .owl-grid_caro_all {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    .box .grid-cols-3 {
        padding: 5px !important;
        width: 100% !important;
    }
    /** todo **/
    .box .special_class_types, .box .alpha_class_types, .box .beta_class_types, .box .charlie_class_types, .box .delta_class_types {
        padding: 5px !important;
        width: 100% !important;
    }
    /*********| width + padding  |*******/
    .box__head_image {
        height: 300px !important;
    }
    .box__head_image > iframe {
        min-height: 0 !important;
        max-height: 300px !important;
    }
    .box__head_image img {
        min-height: 300px !important;
    }
    .box-icons a {
        font-size: 12px !important;
    }
    .box__punchline {
        height: 55px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 1.5em;
    }
    .box__body_bottom {
        height: 37px !important;
        overflow: hidden;
    }
    .box__title {
        font-size: 22px;
        width:80%;
    }
    li.box__footer_link a{
        font-size: 15px;
    }
    .box__read_more {
        font-size: 15px;
    }
    .box__special {
        height: 55px;
        overflow: hidden;
    }
    .box__special .jquery-countdown-timer-countdowntimer {
        padding-top: 5px;
    }
    .box__special .jquery-countdown-timer-countdowntimer.countdownHolder {
        font-size: 18px !important;
    }
    .box__special .jquery-countdown-timer-note-countdowntimer {
        font-size: 14px !important;
        margin-top: -10px !important;
    }
}
/***************************| 500 - 786  |*************************/
@media (min-width: 501px) {
    .box .owl-grid_caro_all {
        padding-right: 25% !important;
        padding-left: 25% !important;
    }
    .box .grid-cols-3 {
        padding: 10px !important;
        width: 50% !important;
    }
    /** todo **/
    .box .special_class_types, .box .alpha_class_types, .box .beta_class_types, .box .charlie_class_types, .box .delta_class_types {
        padding: 10px !important;
        width: 50% !important;
    }
    /******| width + padding  |*******/
    .box__head {
        hight: 175px !important;
    }
    .box__head_image {
        height: 175px !important;
    }
    .box__head_image > iframe {
        min-height: 0 !important;
        max-height: 175px !important;
    }
    .box__head_image img {
        min-height: 175px !important;
    }
    .box-icons a {
        font-size: 14px !important;
    }
    .box__punchline {
        height: 40px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 1.5em;
    }
    .box__body_bottom {
        height: 37px !important;
        overflow: hidden;
    }
    .box__title {
        width: 80%;
        font-size: 18px;
    }
    li.box__footer_link a{
        font-size: 13px;
    }
    .box__read_more {
        font-size: 13px;
    }
    .box__special {
        height: 40px;
        overflow: hidden;
    }
    .box__special .jquery-countdown-timer-countdowntimer {
        padding-top: 4px;
    }
    .box__special .jquery-countdown-timer-countdowntimer.countdownHolder {
        font-size: 13px !important;
    }
    .box__special .jquery-countdown-timer-note-countdowntimer {
        font-size: 11px !important;
        margin-top: -8px !important;
    }
}
/***************************| 786 - 992  |*************************/
@media (min-width: 768px) {
    .box .owl-grid_caro_all {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    .box .grid-cols-3 {
        padding: 5px !important;
        width: 33.3333% !important;
    }
    /** todo **/
    .box .special_class_types, .box .alpha_class_types, .box .beta_class_types, .box .charlie_class_types, .box .delta_class_types {
        padding: 5px !important;
        width: 33.3333% !important;
    }
    /********| width + padding  |*****/
    .box__head {
        hight: 157px !important;
    }
    .box__head_image {
        height: 157px !important;
    }
    .box__head_image > iframe {
        min-height: 0 !important;
        max-height: 157px !important;
    }
    .box__head_image img {
        min-height: 157px !important;
    }
    .box-icons a {
        font-size: 13px !important;
    }
    .box__punchline {
        height: 40px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 1.5em;
    }
    .box__body_bottom {
        height: 37px !important;
        overflow: hidden;
    }
    .box__title {
        width:80%;
    }
    li.box__footer_link a{
        font-size: 12px !important;
    }
    .box__read_more {
        font-size: 12px!important;
    }
    .box__special {
        height: 40px;
        overflow: hidden;
    }
    .box__special .jquery-countdown-timer-countdowntimer {
        padding-top: 5px;
    }
    .box__special .jquery-countdown-timer-countdowntimer.countdownHolder {
        font-size: 12px !important;
    }
    .box__special .jquery-countdown-timer-note-countdowntimer {
        font-size: 11px !important;
        margin-top: -10px !important;
    }
}
/***************************| 992 - 1200  |*************************/
@media (min-width: 992px) {
    .box .owl-grid_caro_all {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    .box .grid-cols-3 {
        padding: 5px !important;
        width: 33.3333% !important;
    }
    /** todo **/
    .box .special_class_types, .box .alpha_class_types, .box .beta_class_types, .box .charlie_class_types, .box .delta_class_types {
        padding: 5px !important;
        width: 33.3333% !important;
    }
    /*******| width + padding  |***********/
    .box__head {
        hight: 152px !important;
    }
    .box__head_image {
        height: 152px !important;
    }
    .box__head_image > iframe {
        min-height: 0 !important;
        max-height: 152px !important;
    }
    .box__head_image img {
        min-height: 152px !important;
    }
    .box-icons a {
        font-size: 13px !important;
    }
    .box__punchline {
        height: 40px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 1.5em;
    }
    .box__body_bottom {
        height: 33px !important;
        overflow: hidden;
    }
    .box__title {
        width:80%;
    }
    li.box__footer_link a{
        font-size: 12px !important;
    }
    .box__read_more {
        font-size: 12px !important;
    }
    .box__special {
        height: 40px;
        overflow: hidden;
    }
    .box__special .jquery-countdown-timer-countdowntimer {
        padding-top: 4px;
    }
    .box__special .jquery-countdown-timer-countdowntimer.countdownHolder {
        font-size: 13px !important;
    }
    .box__special .jquery-countdown-timer-note-countdowntimer {
        font-size: 11px !important;
        margin-top: -10px !important;
    }
}
/***************************| 1200+  |*************************/
@media (min-width: 1200px) {
    .box .owl-grid_caro_all {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    .box .grid-cols-3 {
        padding: 5px !important;
        width: 33.3333% !important;
    }
    /** todo **/
    .box .special_class_types, .box .alpha_class_types, .box .beta_class_types, .box .charlie_class_types, .box .delta_class_types {
        padding: 5px !important;
        width: 33.3333% !important;
    }
    /**********| width + padding  |********/
    .box__head {
        height: 191px !important;
        overflow: hidden;
    }
    .box__head_image > iframe {
        min-height: 191px !important;
        max-height: 191px !important;
    }
    .box__head_image {
        height: 191px !important;
    }
    .box__head_image img {
        min-height: 191px !important;
    }
    .box-icons a {
        font-size: 14px !important;
    }
    .box__punchline {
        height: 50px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 1.6em;
    }
    .box__body_bottom {
        height: 37px !important;
        overflow: hidden;
    }
    .box__title {
        width:80%;
    }
    li.box__footer_link a{
        font-size: 13px !important;
    }
    .box__read_more {
        font-size: 13px !important;
    }
    .box__special {
        height: 50px;
        overflow: hidden;
    }
    .box__special .jquery-countdown-timer-countdowntimer {
        padding-top: 5px;
    }
    .box__special .jquery-countdown-timer-countdowntimer.countdownHolder {
        font-size: 16px !important;
    }
    .box__special .jquery-countdown-timer-note-countdowntimer {
        font-size: 12px !important;
        margin-top: -10px !important;
    }
}

/******************************************* /** Object level  /*******************************************************/

.d-flex {
    display:flex;
}

/** Card outermost boundary **/
article.node--type-article, article.node--type-special {
    padding-bottom: 0 !important;
}

/** Box outermost boundary **/
.content-box {
    margin: 0 !important;
    border: 2px solid #5eb4e7;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content-box:hover {
    box-shadow: none;
}


/******************************************* /** ICONS         /*******************************************************/

.content-box:hover .box-icons a {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    background-color: #ffffaa;
    padding: 2px;
}

/*--===Top Right ===-->*/
.box_icon_top_right {
    position: absolute;
    z-index: 10;
    top: 20px;
    right: 20px;
}

/*--===End Top Right ===-->*/


/*--===Top Left ===-->*/
.box_icon_top_left {
    position: absolute;
    z-index: 10;
    top: 20px;
    left: 20px;
}

.box_icon_top_left .category-logo .icon{
    font-size: 18px;
    font-weight: bold;
}

/******************************************* /** HEADER  /*******************************************************/

.content-box:hover .box__head_image img {
    opacity: 0.8;
    transform: scale(1.2);
}

.box__head {
    display: block;
    overflow: hidden;
    position: relative;
    background-color: #000000 !important;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-right-radius: 8px;
}
.box__head iframe {
    min-height: 0 !important;
    background-color: #000000 !important;
}



/******************************************* /** BODY    /*************************************************************/

.box__body {
    padding: 5px;
    background-color: #F6F6F6;
    /*background-color: #ffffaa;*/
}


.box__title {
    margin: 1px 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/******************************************* /** FOOTER        /*******************************************************/

/*--### Footer ###-->*/
.box__footer {
    clear: both;
    background-color: #ffffaa;
}

li.box__footer_link{
    margin: 0 !important;
}

li.box__footer_link a{
    color: #000000 !important;
    font-weight: bold;
    text-align: center;
    padding: 5px 0 !important;
    background: transparent !important;
    border: none !important;
}

.box__footer .category-list .item-list ul li a:after {
    top: 5px !important;
}
.item-list ul li.view-list-item.box__footer_link {
    margin-bottom: 0 !important;
}

.box__read_more {
    color:  #5eb4e7 !important;
    font-weight: bold;
}

/******************************************* /** SPECIAL       /*******************************************************/

/*div.jquery-countdown-timer-countdowntimer{*/
/*padding-top: 5px;*/
/*}*/
/*.jquery-countdown-timer-note-countdowntimer {*/
/*margin-top: -10px;*/
/*}*/
