<div class="content__border_alpha" style="border: 2px solid #666666; border-radius: 10px; padding: 5px !important; margin-bottom: 10px">
    <div style="text-align: center"><h4>Vote</h4></div>
    <div style="padding: 5px !important;">
        {{ content.body }}
    </div>
    <div style="padding: 5px !important;">
        {{ content.field_option }}
    </div>
</div>