/**#*#*#*#*#*# BOX COLUMNS *#*#*#*#*#*#*/
@media (max-width: 281px) {
    .box-head-image > iframe {
        min-height: 0 !important;
        max-height: 300px !important;
    }
    .grid-cols-3 {
        padding: 5px !important;
        width: 100% !important;
    }
    .box__special {
        height: 35px;
        overflow: hidden;
    }
    .jquery-countdown-timer-countdowntimer.countdownHolder {
        font-size: 9px !important;
    }
    .jquery-countdown-timer-note-countdowntimer {
        font-size: 8px !important;
        margin-top: -4px !important;
    }
    .box__title {
        font-size: 14px !important;
        height: 35px;
        overflow: hidden;
    }
}
@media (min-width: 282px) {
    .box-head-image > iframe {
        min-height: 0 !important;
        max-height: 300px !important;
    }
    .grid-cols-3 {
        padding: 5px !important;
        width: 100% !important;
    }
    .box__special {
        height: 55px;
        overflow: hidden;
    }
    .jquery-countdown-timer-countdowntimer.countdownHolder {
        font-size: 18px !important;
    }
    .jquery-countdown-timer-note-countdowntimer {
        font-size: 14px !important;
        margin-top: -10px !important;
    }
    .box__title {
        font-size: 22px;
    }
}
@media (min-width: 501px) {
    .box-head-image > iframe {
        min-height: 0 !important;
        max-height: 400px !important;
    }
    .grid-cols-3 {
        padding: 5px !important;
        width: 100% !important;
    }

    .box__special {
        height: 60px;
        overflow: hidden;
    }
    .jquery-countdown-timer-countdowntimer.countdownHolder {
        font-size: 20px !important;
    }
    .jquery-countdown-timer-note-countdowntimer {
        font-size: 14px !important;
        margin-top: -10px !important;
    }
    .box__title {
        font-size: 22px;
    }

}
@media (min-width: 768px) {
    .box-head-image > iframe {
        min-height: 0 !important;
        max-height: 160px !important;
    }
    .box-head-image {
        min-height: 160px !important;
        max-height: 160px !important;
    }
    .grid-cols-3 {
        padding: 5px !important;
        width: 33.3333% !important;
    }
    .box__special {
        height: 50px;
        overflow: hidden;
    }
    .jquery-countdown-timer-countdowntimer.countdownHolder {
        font-size: 15px !important;
    }
    .jquery-countdown-timer-note-countdowntimer {
        font-size: 12px !important;
        margin-top: -10px !important;
    }
}
@media (min-width: 992px) {
    .box-head-image > iframe {
        min-height: 0 !important;
        max-height: 155px !important;
    }
    .box-head-image {
        min-height: 155px !important;
        max-height: 155px !important;
    }
    .grid-cols-3 {
        padding: 5px !important;
        width: 33.3333% !important;
    }
    .box__special {
        height: 40px;
        overflow: hidden;
    }
    .jquery-countdown-timer-countdowntimer.countdownHolder {
        font-size: 14px !important;
    }
    .jquery-countdown-timer-note-countdowntimer {
        font-size: 11px !important;
        margin-top: -10px !important;
    }
}
@media (min-width: 1200px) {
    .box-head-image > iframe {
        min-height: 0 !important;
        max-height: 193px !important;
    }
    .box-head-image {
        min-height: 193px !important;
        max-height: 193px !important;
    }
    .grid-cols-3 {
        padding: 5px !important;
        width: 33.3333% !important;
    }
    .box__special {
        height: 50px;
        overflow: hidden;
    }
    .box__body_bottom {
        height: 35px;
        overflow: hidden;
    }
    .jquery-countdown-timer-countdowntimer.countdownHolder {
        font-size: 16px !important;
    }
    .jquery-countdown-timer-note-countdowntimer {
        font-size: 12px !important;
        margin-top: -10px !important;
    }
}

/**#*#*#*#*#*# BOX *#*#*#*#*#*#*/

.d-flex {
    display:flex;
}

/** Card outermost boundary **/
article.node--type-article, article.node--type-special {
    padding-bottom: 0 !important;
}
/*--*#*#*#*#*#*#  Card *#*#*#*#*#*#-->*/

/** Box outermost boundary **/
.content-box {
    margin: 0 !important;
    border: 2px solid #5eb4e7;
    border-radius: 10px;
}

/*****************************************************************************************************/

/*--### Outer ###-->*/

/*--===Top Right ===-->*/
.box_outer_top_right {
    position: absolute;
    z-index: 25;
    top: 20px;
    right: 20px;
}
/*--===End Top Right ===-->*/


/*--===Top Left ===-->*/
.box_outer_top_left {
    position: absolute;
    z-index: 25;
    top: 20px;
    left: 20px;
}
/*--===End Top Left ===-->*/

/*--===Bottom Right ===-->*/
.box_outer_bottom_right {
    position: absolute;
    z-index: 25;
    bottom: 5px;
    right: 20px;
}
/*--===End Bottom Right ===-->*/

/*--===Bottom Left ===-->*/
.box_outer_bottom_left {
}
/*--===End Bottom Left ===-->*/



/*--### End Outer ###-->*/

/*****************************************************************************************************/

/*--### Header ###-->*/
/*--=== Box Head===-->*/
.box-head {
    display: block;
    overflow: hidden;
    position: relative;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-right-radius: 8px;
}
.box-head iframe {
    min-height: 0 !important;
    background-color: black;
}
/*--=== End Box Head===-->*/
/*--### End Header ###-->*/
/*



/*****************************************************************************************************/

/*--### Body ###-->*/
.box__body {
    padding: 5px;
    background-color: #F6F6F6;
}

.article_box__special {
    /*margin-left: 10px;*/
}

.special_box__special {
    /*margin-left: 10px;*/
}

/*-- -->*/
div.jquery-countdown-timer-countdowntimer{
    padding-top: 5px;
}
.jquery-countdown-timer-note-countdowntimer {
    margin-top: -10px;
}
/*-- -->*/
/*--=== End Box Main===-->*/

/*--=== Box Title===-->*/
.box__title {
    width:75%;
    margin: 1px 0;
    /*text-align: center;*/
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*-- -->*/

/*-- -->*/
/*--=== End Box Title===-->*/

/*--### End Body ###-->*/

/*****************************************************************************************************/

/*--### Footer ###-->*/
.box-footer {
    height: 13% !important;
    background-color: #ffffaa;
}
/*--=== ===-->*/
li.box-footer-link a{
    padding: 10px 0 2px 35px !important;
    background: transparent !important;
    border: none !important;
}
/*--=== ===-->*/
/*--### End Footer ###-->*/
/*****************************************************************************************************/