/**#*#*#*#*#*# Card *#*#*#*#*#*#*/
/*@media (max-width: 780px) {*/
/*.box-head > iframe {*/
/*min-height: 0 !important;*/
/*max-height: 300px !important;*/
/*}*/
/*article.content-box {*/
/*background-color: green !important;*/
/*}*/
/*}*/
/*@media (max-width: 991px) {*/
/*.box-head > iframe {*/
/*min-height: 0 !important;*/
/*max-height: 144px !important;*/
/*}*/
/*article.content-box {*/
/*background-color: purple !important;*/
/*}*/
/*}*/
/*@media (min-width: 991px) {*/
/*.box-head > iframe {*/
/*min-height: 0 !important;*/
/*max-height: 152px !important;*/
/*}*/
/*article.content-box {*/
/*background-color: green !important;*/
/*}*/
/*}*/
/*@media (min-width: 1199px) {*/
/*.box-head > iframe {*/
/*min-height: 0 !important;*/
/*max-height: 191px !important;*/
/*}*/
/*article.content-box {*/
/*background-color: blue !important;*/
/*}*/
/*}*/
.d-flex {
    display:flex;
}

article.content-box.post-block {
    padding-bottom: 0 !important;
    height: 300px !important;
    width: 270px !important;
}
/*--*#*#*#*#*#*#  Card *#*#*#*#*#*#-->*/

/** Box outermost boundary **/
.content-box {
    margin: 0 !important;
    border: 2px solid #5eb4e7;
    border-radius: 10px;
}

/*****************************************************************************************************/

/*--### Outer ###-->*/

/*--===Top Right ===-->*/
.box_outer_top_right {
    position: absolute;
    z-index: 100;
    top: 20px;
    right: 20px;
}
/*--===End Top Right ===-->*/

/*--===Top Left ===-->*/
.box_outer_top_left {
    position: absolute;
    z-index: 100;
    top: 20px;
    left: 20px;
}
/*--===End Top Left ===-->*/

/*--===Bottom Right ===-->*/
.box_outer_bottom_right {
    position: absolute;
    z-index: 100;
    bottom: 5px;
    right: 20px;
}
/*--===End Bottom Right ===-->*/

/*--===Bottom Left ===-->*/
.box_outer_bottom_left {
}
/*--===End Bottom Left ===-->*/

/* Crypto Token Hover states*/
.crypto-token-logo {
    display: block;
}
.crypto-token-name {
    display: none;
}

.content-box:hover span.crypto-token-logo {
    display: none;
}
.content-box:hover span.crypto-token-name {
    display: block;
}

/* Sub Category Hover States */
.sub-category-logo {
    display: block;
}
.sub-category-name {
    display: none;
}

.content-box:hover .sub-category-logo {
    display: none;
}

.content-box:hover .sub-category-name {
    display: block;
}

/* Category Hover States*/
.category-logo {
    display: block;
}
.category-name {
    display: none;
}

.content-box:hover .category-logo {
    display: none;
}

.content-box:hover .category-name {
    display: block;
}

/*--### End Outer ###-->*/

/*****************************************************************************************************/

/*--### Header ###-->*/
/*--=== Box Head===-->*/
.box-head {
    height: 59% !important;
}
.box-head iframe {
    height: 59% !important;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
}
/*--=== End Box Head===-->*/
/*--### End Header ###-->*/

/*****************************************************************************************************/

/*--### Body ###-->*/
.box-body {
    height: 28% !important;
    background-color: #00c99a;
    overflow: hidden;
}
/*--=== Box Main ===-->*/
.box-main{
    height: 60%;
    overflow: hidden;
    background-color: yellow;
}
/*-- -->*/
div.jquery-countdown-timer-countdowntimer{
    padding-top: 5px;
}
.jquery-countdown-timer-note-countdowntimer {
    margin-top: -10px;
}
/*-- -->*/
/*--=== End Box Main===-->*/

/*--=== Box Title ===-->*/
.box-title h3{
    color: green;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*margin: 0 !important;*/
    margin-top: -7px;
}
/*-- -->*/

/*-- -->*/
/*--=== End Box Title===-->*/

/*--### End Body ###-->*/

/*****************************************************************************************************/

/*--### Footer ###-->*/
.box-footer {
    height: 13% !important;
    background-color: #ffffaa;
}
/*--=== ===-->*/
li.box-footer-link a{
    padding: 10px 0 2px 35px !important;
    background: transparent !important;
    border: none !important;
}
/*--=== ===-->*/
/*--### End Footer ###-->*/

/*****************************************************************************************************/