.box-head iframe {
    min-height: 0 !important;
}
/*a {*/
/*color: red !important;*/
/*}*/
@media (max-width: 780px) {
    .box-head > iframe {
        min-height: 0 !important;
        max-height: 300px !important;
    }
    article.content-box {
        background-color: green !important;
    }
}
@media (max-width: 991px) {
    .box-head > iframe {
        min-height: 0 !important;
        max-height: 144px !important;
    }
    article.content-box {
        background-color: purple !important;
    }
}
@media (min-width: 991px) {
    .box-head > iframe {
        min-height: 0 !important;
        max-height: 152px !important;
    }
    article.content-box {
        background-color: green !important;
    }
}
@media (min-width: 1199px) {
    .box-head > iframe {
        min-height: 0 !important;
        max-height: 191px !important;
    }
    article.content-box {
        background-color: blue !important;
    }
}
