/******************************************* /** Screen Sizes  /*******************************************************/
@media (max-width: 281px) {
    .card__head_image > iframe {
        min-height: 0 !important;
        max-height: 300px !important;
    }
    .card .grid-cols-3 {
        padding: 5px !important;
        width: 100% !important;
    }
    .card .special_class_types, .card .alpha_class_types, .card .beta_class_types, .card .charlie_class_types, .card .delta_class_types {
        padding: 5px !important;
        width: 33.33% !important;
    }
    .card .grid-grid_caro_all .grid-cols-4 {
        padding: 10px !important;
        width: 100% !important;
    }
    .card__title {
        font-size: 14px !important;
    }
    .card__punchline {
        font-size: 12px !important;
    }
    .foot-date {
        font-size: 8px !important;
    }
    .foot-comments {
        font-size: 8px !important;
    }
    .content-card {
        padding-bottom: 40px !important;
    }
    .card__special {
        height: 55px;
        overflow: hidden;
    }
    .card__special .jquery-countdown-timer-countdowntimer.countdownHolder {
        font-size: 18px !important;
    }
    .card__special .jquery-countdown-timer-note-countdowntimer {
        font-size: 14px !important;
        margin-top: -10px !important;
    }
}
@media (min-width: 282px) {
    .card__head_image > iframe {
        min-height: 0 !important;
        max-height: 300px !important;
    }
    .card .grid-cols-3 {
        padding: 5px !important;
        width: 100% !important;
    }
    .card .grid-cols-4 {
        padding: 10px !important;
        width: 100% !important;
    }
    .card__title {
        font-size: 22px;
    }
    .card__punchline {
        font-size: 14px !important;
    }
    .card__footer {
    }
    .foot-date {
        font-size: 14px !important;
    }
    .foot-comments {
        font-size: 14px !important;
    }
    .content-card {
        padding-bottom: 40px !important;
    }
    .card__special {
        height: 55px;
        overflow: hidden;
    }
    .card__special .jquery-countdown-timer-countdowntimer.countdownHolder {
        font-size: 18px !important;
    }
    .card__special .jquery-countdown-timer-note-countdowntimer {
        font-size: 14px !important;
        margin-top: -10px !important;
    }
}
@media (min-width: 501px) {
    .card__head_image > iframe {
        min-height: 0 !important;
        max-height: 400px !important;
    }
    .card .grid-cols-3 {
        padding: 5px !important;
        width: 100% !important;
    }
    .card .grid-cols-4 {
        padding: 10px !important;
        width: 100% !important;
    }
    .card__title {
        font-size: 22px;
    }
    .card__punchline {
        font-size: 14px !important;
    }
    .card__footer {
    }
    .foot-date {
        font-size: 14px !important;
    }
    .foot-comments {
        font-size: 14px !important;
    }
    .content-card {
        padding-bottom: 50px !important;
    }
    .card__special {
        height: 60px;
        overflow: hidden;
    }
    .card__special .jquery-countdown-timer-countdowntimer.countdownHolder {
        font-size: 20px !important;
    }
    .card__special .jquery-countdown-timer-note-countdowntimer {
        font-size: 14px !important;
        margin-top: -10px !important;
    }
}
@media (min-width: 768px) {
    .card__head_image > iframe {
        min-height: 0 !important;
        max-height: 160px !important;
    }
    .card__head_image {
        min-height: 160px !important;
        max-height: 160px !important;
    }
    .card .grid-cols-3 {
        padding: 5px !important;
        width: 33.3333% !important;
    }
    .card .grid-cols-4 {
        padding: 10px !important;
        width: 50% !important;
    }
    .card__punchline {
        font-size: 14px !important;
    }
    .card__footer {
    }
    .foot-date {
        font-size: 12px !important;
    }
    .foot-comments {
        font-size: 12px !important;
    }
    .content-card {
        padding-bottom: 40px !important;
    }
    .card__special {
        height: 50px;
        overflow: hidden;
    }
    .card__special .jquery-countdown-timer-countdowntimer.countdownHolder {
        font-size: 15px !important;
    }
    .card__special .jquery-countdown-timer-note-countdowntimer {
        font-size: 12px !important;
        margin-top: -10px !important;
    }
}
@media (min-width: 992px) {
    .card__head_image > iframe {
        min-height: 0 !important;
        max-height: 155px !important;
    }
    .card__head_image {
        min-height: 155px !important;
        max-height: 155px !important;
    }
    .card .grid-cols-3 {
        padding: 5px !important;
        width: 33.3333% !important;
    }
    .card .grid-cols-4 {
        padding: 5px !important;
        width: 25% !important;
    }
    .card__punchline {
        font-size: 14px !important;
    }
    .card__footer {
    }
    .foot-date {
        font-size: 13px !important;
    }
    .foot-comments {
        font-size: 13px !important;
    }
    .content-card {
        padding-bottom: 40px !important;
    }
    .card__special {
        height: 40px;
        overflow: hidden;
    }
    .card__special .jquery-countdown-timer-countdowntimer.countdownHolder {
        font-size: 14px !important;
    }
    .card__special .jquery-countdown-timer-note-countdowntimer {
        font-size: 11px !important;
        margin-top: -10px !important;
    }
}
@media (min-width: 1200px) {
    .card__head_image > iframe {
        min-height: 0 !important;
        max-height: 193px !important;
    }
    .card__head_image {
        min-height: 193px !important;
        max-height: 193px !important;
    }
    .card .grid-cols-3 {
        padding: 5px !important;
        width: 33.3333% !important;
    }
    .card .grid-cols-4 {
        padding: 5px !important;
        width: 25% !important;
    }
    .card__punchline {
        font-size: 14px !important;
    }
    .card__footer {
    }
    .foot-date {
        font-size: 14px !important;
    }
    .foot-comments {
        font-size: 14px !important;
    }
    .content-card {
        padding-bottom: 40px !important;
    }
    .card__special {
        height: 50px;
        overflow: hidden;
    }
    .card__special .jquery-countdown-timer-countdowntimer.countdownHolder {
        font-size: 16px !important;
    }
    .card__special .jquery-countdown-timer-note-countdowntimer {
        font-size: 12px !important;
        margin-top: -10px !important;
    }
}

/******************************************* /** Object level  /*******************************************************/

/** Card outermost boundary **/
article.node--type-article, article.node--type-special {
    padding-bottom: 0 !important;
}

/* Provide shadow around card and box */
.content-card {
    margin: 0 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/******************************************* /** ICONS         /*******************************************************/
.card_icon_top_right {
    position: absolute;
    z-index: 10;
    top: 20px;
    right: 20px;
}
/******************************************* /** HEADER        /*******************************************************/

.card__head {
    display: block;
    overflow: hidden;
    position: relative;
    padding-bottom: 2em;
    background-color: #F6F6F6;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;

}

.card__head iframe {
    min-height: 0 !important;
    background-color: black;
}
/*--=== Card Head Image===-->*/
.card__head_image{
    overflow: hidden;
}
.card__head_image img{
    margin-bottom: 0;
    height: 100%;
}
.content-card:hover .card__head_image img {
    opacity: 0.8;
    transform: scale(1.2);
}

/* border */
div.card__head_image {
    margin: 0 !important;
}
/*--=== End Card Head Image===-->*/

/*--=== Card Head Avatar===-->*/
.card__head_avatar {
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 70px;
    height: 70px;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;

}

/*-- Card Head Avatar Default -->*/
.card__head_avatar_default {

}
/*-- END Card Head Avatar Default -->*/

/*-- Card Head Avatar Hover-->*/
.card__head_avatar_hover {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: #3498db;
    top: 0;
    font-size: 1.8em;
    text-align: center;
    color: white;
    opacity: 0;
    font-family: 'FontAwesome';
    font-weight: 300;
    border: 8px solid #5cc0ff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

.content-card:hover .card__head_avatar_hover {
    opacity: 1;
}

span.icon-Twitter{
    font-size: 30px;
    font-weight: bold;
    margin-top: -2px !important;
    color: #ffffff !important;
}

p.avatar-bottom-text{
    font-size: 8px;
    font-style: italic;
    margin-top: -12px;
    color: #ffffff !important;
}

/******************************************* /** BELT    /*************************************************************/

/*--=== Card Belt Icon Left ===-->*/
.card-belt-icon-left {
    position: absolute;
    z-index: 10;
    margin-top: -25px;
    left: 10px;

}
/*--=== End Card Belt Icon Left===-->*/

/*--=== Card Belt Icon Right===-->*/
.card-belt-icon-right {
    position: absolute;
    z-index: 10;
    margin-top: -25px;
    right: 5px;
}
/*--=== End Card Belt Icon Right===-->*/

/* Deprecated Hover @todo Remove */
.crypto-token-logo {
    display: block;
}
.crypto-token-name {
    display: none;
}

.content-card:hover span.crypto-token-logo {
    display: none;
}
.content-card:hover .card-belt-icon-right span.crypto-token-name {
    display: block;
}
/******************************************* /** BODY    /*************************************************************/

.card__body {
    padding: 5px;
    background-color: #F6F6F6;
}
.article_card__special {
    /*margin-left: 10px;*/
}

.special_card__special {
    /*margin-left: 10px;*/
}

/*--=== Card Title===-->*/
.card__title {
    margin: 1px 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*--=== End Card Title===-->*/

/*--=== Card Punchline===-->*/
.card__punchline {
    height: 45px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.5em;
}

/******************************************* /** FOOTER        /*******************************************************/
/*--### Footer ###-->*/
footer.card-footer{
    height: 35px;
    padding: 5px;
}

/*--=== Card Footer===-->*/
.card__footer {
    height: 25px;
}

/*-- SPAN DATE-->*/
.foot-date {
    float: left;
}
/*-- END SPAN DATE -->*/

/*-- SPAN COMMENTS -->*/
.foot-comments {
    float: right;
}
/*-- END SPAN COMMENTS-->*/

/*-- SPAN Pull Up -->*/
.card__pullup {
    position: absolute;
    bottom: 3px;
    margin: 0;
    padding: 0;
    color: #666C74;
    line-height: 35px;
    opacity: 0;
    transform: translateY(45px);
    transition: opacity 0.3s, transform 0.3s;
    transition-delay: 0s;
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}
.card__pullup a {
    color: #3498db !important;
}
/*-- END SPAN Pull Up -->*/


/*-- card-footer spans hover action -->*/
.content-card:hover .foot-date {
    display: none;
}
.content-card:hover .foot-comments {
    display: none;
}
.content-card:hover .card__pullup {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.2s;
}

/******************************************* /** SPECIAL       /*******************************************************/
