<article data-history-node-id="164" role="article" class="contextual-region node node--type-page node--view-mode-full" typeof="schema:WebPage">
    <header>
        <div class="container">
            <div class="widget gsc-heading align-center style-1 small text-dark">
                <h2 class="title">
                    <span>
                        <span property="schema:name">Disclaimer</span>
                    </span>
                </h2>
                <div class="line"><span class="one"></span><span class="second"></span><span class="three"></span></div>
                <div class="title-desc" style="font-size: 20px; font-weight: bold; font-style: italic">
                    This is NOT Professional Financial Advise. Consult your Financial Adviser.
                </div>
            </div>
        </div>
    </header>

    <div class="node__content clearfix">
        <div property="schema:text" class="field field--name-body field--type-text-with-summary field--label-hidden field__item">

            <h4>This {{ type }} is NOT Professional Financial Advise.</h4>
            <p>This award honors top executives in the central Ohio area for their ability to build and lead “smart” organizations.</p>

            <h4>Never invest more than you can afford to loose.</h4>
            <p>This award honors top executives in the central Ohio area for their ability to build and lead “smart” organizations.</p>

            <h4>Never give your Private Key to anyone.</h4>
            <p>This award honors top executives in the central Ohio area for their ability to build and lead “smart” organizations.</p>

            <h4>Invest at your own risk</h4>
            <p>This award honors top executives in the central Ohio area for their ability to build and lead “smart” organizations.</p>
        </div>
    </div>
</article>