<div class="sub-category">
    <span class="sub-category-logo">
        <a href="{{ url }}">
            {{ content }}
        </a>
    </span>
    <span class="sub-category-name">
        <a href="{{ url }}">
            {{ name[0]['#context']['value'] }}
        </a>
    </span>
</div>